<h3>About Siyavula</h3>

<p>“Siyavula” is a Nguni word which means “we are opening”. Formerly seeded by the Shuttleworth Foundation, Siyavula supports and encourages communities of teachers to work together, openly share their teaching resources and benefit from the use of technology.</p>

<a class="twitter-timeline" href="https://twitter.com/Siyavula" data-widget-id="377350411331440640">Tweets by @Siyavula</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
